html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: center;
	padding: 1em;
}

section h2 {
	text-align: center;
}

#project-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

#project-list li {
	display: flex;
	box-sizing: border-box;
	width: 99%;
	margin: 0.5em auto;
}

@media screen and (min-width: 768px) {
	#project-list li {
		width: 60%;
	}
}

@media screen and (min-width: 1024px) {
	#project-list li {
		width: 50%;
	}
}

@media screen and (min-width: 1280px) {
	#project-list li {
		width: 40%;
	}
}







#project-list li .project-container {
	display: flex;
	flex-direction: row;
	justify-items: start;
	background-color: #fff;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 0.15em solid #000;
	border-bottom: 0.25em solid #000;
	gap: 0.5em;
	align-items: center;
	width: 100%;
}

#project-list li .project-number {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	border-radius: 100%;
	border: 2px solid #000;
	border-bottom: 4px solid #000;
	background-color: #777;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	padding: 0.5em;
}

#project-list li .project-details {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-left: 2px solid #000;
	padding-left: 1em;
}

#project-list li .project-details .project-title {
	font-size: 1.5em;
	font-weight: bold;
}

#project-list li .project-details .project-link a {
	font-size: 1.2em;
	color: blue;
	text-decoration: none;
}
