html {
    font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}

body {
    background-color: #f0f0f0;
}

header {
    text-align: center;
	padding: 1em;
}
header h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}
header h5 {
	margin-top: 0;
	padding-top: 0;
}

main {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	width: 50%;
	min-height: 80vh;
	margin: 0 auto;
	
	margin-bottom: -50px;
}

#controls-container {
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: 1px solid #000;
	border-radius: 0.5em;
	border-bottom: 3px solid #000;
	padding: 0.5em;
}

#add-txt {
	height: 2.0em;
	border-radius: 0.5em;
	padding: 0 0.5em;
	font-size: 1em;
	font-weight: bold;
}

#add-btn {
	height: 2.6em;
	border-radius: 0.5em;
	font-weight: bold;
	padding: 0 1em;
	background-color: cornflowerblue;
	color: #fff;
	margin-left: 0.5em;
	cursor: pointer;
}
/* when button is hovered it's background color changes to a slightly lighter shade of blue */
#add-btn:hover {
	background-color: rgb(120, 170, 250);
	color: #fff;
}

#item-list-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#item-list {
	list-style-type: none;
	padding: 0;
	width: 60%;
	margin: 1em auto;
}
@media screen and (max-width: 768px) {
	#item-list {
		width: 90%;
	}
}

#item-list li {
	margin-top: 0.5em;
	padding: 0.5em;
	background-color: #fff;
	margin-bottom: 0.5em;
	border-radius: 0.5em;
	border: 0.15em solid #000;
	border-bottom: 0.25em solid #000;
	min-height: 1.5em;
}

#item-list>li>span.title {
	font-weight: bold;
	margin-left: 1em;
}

#item-list>li>div.btn-container {
	display: flex;
	flex-direction: row;
	float: right;
}

#item-list>li>.btn-container>input {
	background-color: #fff;
	border: 0.15em solid #000;
	border-radius: 0.5em;
}

#item-list>li>.title>input.edit-txt {
	height: 2.0em;
	border-radius: 0.5em;
	padding: 0 0.15em;
	font-size: 1em;
	font-weight: bold;
}

footer, .push {
    height: 50px;
}
footer {
	text-align: center;
	padding: 1em;
}